<loading-spinner *ngIf="isLoading"></loading-spinner>
<div class="container">
    <div class="row size-limited">
        <div class="col-xs-12">
            <h1 class="title">
                Start here!
            </h1>
            <h2>Hello type url below and press enter</h2>
            <form (submit)="addUrl(link.value)">
            <div>
                <label for ="link">URLS: </label>
                <input type = "text" #link/> 
            </div>
            </form>
            
            <!-- <button (click)="onClick()">Submit</button> -->

            <ul>
                <li *ngFor="let link of links ; let i = index">{{i + 1}}: {{link}} <button (click)="deleteUrl(link)">x</button></li>
            </ul>

            <div *ngIf = "link > 45 else short">
                Url is too long. Shortened Url below:
            </div>
            <ng-template #short ></ng-template>
        </div>
    </div>
</div>
