@import '_variables';

.offline-banner {
    background-color: $main-color;

    .offline-text {
        color: #fff;
        font-size: 1.6rem;
        line-height: 2rem;
        margin: 0;
        padding: 0.5rem;
        vertical-align: middle;
        text-align: center;
    }
}
